body, html {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(lattice.png)
    
}

h1{
    color: white;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 3px solid black;

    
}

table {
    border-collapse: collapse;
    background-color: whitesmoke;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 75%;
}