{% extends 'base.html' %}

{% block head %} 
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="topnav">
  <a href="#login">Login</a>
  <a href="#sign up">Sign up</a>
  <div class="search-container">
    <form action="/" method="POST">
      <input type="text" name="content" id="content" placeholder="Add tasks here" name="Submit">
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

</body>
       
    {% if tasks|length < 1%}
      <h4 style="text-align: center" >There are no tasks at the moment. You can add a new on below! </h4>  

    {% else %}
            {% for task in tasks %}
                <div class="content">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <div id="mydivheader">Task {{loop.index }}  </div>
                        <br>
                        <tr>{{ task.content }}</tr>
                    </div>
                      <div class="flip-card-back">
                        <tr>
                            <br>
                            <td>
                                <div id="mydivheader2">
                                <a href="/delete/{{task.id}}" class="delete"> Delete</a>
                                <a href="/update/{{task.id}}" class="update">Update</a>
                                </div>
                            </td>    
                            <br>
                            <div id="mydivheader3">
                            <td>date created:</1td>
                            <td>{{ task.date_created.date() }}</td>   
                            </div> 
                        </tr>
                      </div>
                    </div>
                </div>
                  <br>
                </div>
            {% endfor %}
    {% endif %}
</div>        
{% endblock %}